<div class="container">
  <div class="row">
    <h1>
      <strong>¿Quiénes somos?</strong>
    </h1>

    <p>
      Somos una empresa de consultoría en la cual nos especializamos en la
      cultura de prevención, dando capacitaciones con nuestro personal profesional
      en respuestas a emergencias. Igualmente, en SICPC ayudamos a las empresas
      para su continuidad del negocio asesorando y gestionando permisos y/o
      licencias en los estados de Nuevo León, Coahuila y Tamaulipas.
    </p>
    
    <br/>
    <button routerLink="/contact" type="button" class="btn btn-primary">Contáctanos</button>
  </div>

  <hr/>

  <div class="row">
    <h2>Misión</h2>
    <p>
      Nuestra misión en SICPC es promover una cultura de prevención y seguridad en las organizaciones mediante capacitaciones especializadas y consultoría profesional. Nos dedicamos a fortalecer la capacidad de respuesta ante emergencias y asegurar la continuidad operativa de nuestros clientes, asesorándolos y gestionando los permisos y licencias necesarios en los estados de Nuevo León, Coahuila y Tamaulipas.
    </p>
  </div>

  <div class="row">
    <h2>Visión</h2>
    <p>
      Nuestra visión es ser la empresa líder en consultoría de protección civil y gestión de emergencias en México, reconocida por nuestra excelencia en la formación, asesoramiento y acompañamiento de empresas en la implementación de prácticas preventivas y de respuesta ante emergencias, contribuyendo a un entorno empresarial más seguro y resiliente.
    </p>
  </div>

  <div class="row">
    <h2>Valores</h2>
    <ul>
      <li><strong>Profesionalismo:</strong> Contamos con un equipo de expertos altamente capacitados y comprometidos con la calidad en cada uno de nuestros servicios.</li>
      <li><strong>Responsabilidad:</strong> Nos aseguramos de cumplir con las normativas vigentes y de promover prácticas responsables en todas las áreas de nuestro trabajo.</li>
      <li><strong>Innovación:</strong> Buscamos constantemente nuevas metodologías y tecnologías para mejorar nuestros servicios y adaptarnos a las necesidades cambiantes de nuestros clientes.</li>
      <li><strong>Compromiso:</strong> Nos dedicamos a brindar un servicio personalizado y eficaz, orientado a satisfacer las necesidades específicas de cada cliente.</li>
      <li><strong>Ética:</strong> Actuamos con integridad y transparencia en todas nuestras interacciones y actividades.</li>
    </ul>
  </div>

  <div class="row">
    <h2>Objetivos</h2>
    <ul>
      <li><strong>Capacitación Continua:</strong> Proveer programas de formación y capacitación en respuesta a emergencias, primeros auxilios y gestión de riesgos, adaptados a las necesidades de nuestros clientes.</li>
      <li><strong>Asesoramiento Integral:</strong> Ofrecer consultoría especializada para la obtención de permisos y licencias en los estados de Nuevo León, Coahuila y Tamaulipas, asegurando el cumplimiento de todas las regulaciones legales.</li>
      <li><strong>Promoción de la Prevención:</strong> Fomentar la cultura de prevención en las empresas mediante la implementación de programas de seguridad y salud ocupacional.</li>
      <li><strong>Mejora Continua:</strong> Desarrollar e implementar procesos de mejora continua en nuestros servicios, utilizando la retroalimentación de nuestros clientes para perfeccionar nuestras prácticas.</li>
      <li><strong>Expansión Regional:</strong> Extender nuestros servicios a otras regiones del país, posicionándonos como referentes en la consultoría en protección civil y gestión de emergencias.</li>
    </ul>
  </div>

</div>
